{% extends "layout.html" %}
{% block content %}
    <div>
        <a href="{{ url_for('users.profile') }}">Back to profile</a>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Edit link</legend>
                <div>
                    Name: {{ link.name }}
                </div>
                <div>
                    {{ form.link.label() }}
                    {% if form.link.errors %}
                        {{ form.link() }}
                        <div>
                            {% for error in form.link.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.link() }}
                    {% endif %}
                </div>
            <div>
                {{ form.edit_submit() }}
                {{ form.delete_submit() }}
            </div>
        </form>
    </div>
{% endblock content %}