<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Links - have your social media in one place</title>
        {% endif %}
    </head>
    <body>
        <header id="navbar">
            <div>
                <ul>
                    <li><a href="{{ url_for('main.home') }}">LINKS</a></li>
                    <li><a href="{{ url_for('main.about') }}">About</a></li>
                    <li><a href="{{ url_for('main.feedback') }}">Feedback</a></li>
                    {% if current_user.is_authenticated %}
                        {% if current_user.role[0].user_role != 'user' %}
                            <li><a href="{{ url_for('admin.admin_panel') }}">Admin Panel</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('users.profile') }}">Profile</a></li>
                        <li><a href="{{ url_for('users.logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('users.login') }}">Login</a></li>
                        <li><a href="{{ url_for('users.register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>

        <main role="main" id="main">    
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </main>

    </body>
</html>