{% extends "layout.html" %}
{% block content %}
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Edit role</legend>
            <div>
                {{ form.username.label() }}
                
                {% if form.username.errors %}
                    {{ form.username()}}
                    <div>
                        {% for error in form.username.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username() }}
                {% endif %}
            </div>
            <div>
                {{ form.role.label() }}
                {{ form.role() }}
            </div>
            <div>
                {{ form.master_key.label() }}
                {{ form.master_key() }}
            </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock content %}